// Styling for the about section

.about {
  height: 100vh;

  .btn {
    font-size: 1rem;
  }

  h1 {
    font-size: 4rem;
    line-height: 3rem;
  }

  .h2,
  h2 {
    font-size: 2rem;
    line-height: 2rem;
    @include body-font;
  }

  li {
    list-style: none;
    padding: 0.25rem 0;
  }

  .resume {
    margin-top: 3rem;
  }

  .portfolio-link {
    bottom: 10px;

    .btn {
      border: none;

      &:hover {
        i {
          color: #212529 !important;
        }
      }
    }
  }

  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;

    .name {
      margin-top: 2rem;
    }

    h1 {
      font-size: 6vw;
    }

    h2 {
      font-size: 3vw;
    }

    .resume {
      margin-top: 0;
    }
  }
}
