body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

section {
  padding: 3rem 0;

  h2 {
    font-size: 2.25rem;
    line-height: 2rem;
  }

  h3 {
    font-size: 1.25em;
    line-height: 2rem;
  }
  @media (min-width: 992px) {
    h2 {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-width: 0.05rem;
}

html,
body {
  overflow-x: hidden;
  background-color: $light-gray;
}

.arrow-container {
  display: flex;
  justify-content: center;

  .fa-arrow-down {
    margin: 20px 0;
  }
}

.arrow-container-desktop {
  display: none;
}

.psd {
  padding-top: 70px;
  background-color: $gray;

  .psd-container {
    margin-top: -50px;
  }

  h2 {
    margin-top: -50px;
  }

  @media (min-width: 768px) {
    padding: 10rem 0;

    .img-link {
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.02);
      }
    }

    .arrow-container,
    .psd-header {
      display: none;
    }
    .arrow-container-desktop {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
}

.responsive {
  padding-top: 70px;
  background-color: $light-gray;

  .responsive-container {
    margin-top: -50px;
  }

  h2 {
    margin-top: -50px;
  }

  @media (min-width: 768px) {
    padding: 10rem 0;

    .img-link {
      transition: transform 0.2s;
      height: 800px;
      width: auto;
    }

    .arrow-container,
    .responsive-header {
      display: none;
    }

    .arrow-container-desktop,
    .img-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
}
