.about {
  height: 100vh;

  header.masthead {
    // padding-top: calc(1rem + 72px);
    padding-bottom: 1rem;
  }

  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .h2,
  h2 {
    font-size: 1.3rem;
    @include body-font;
  }

  li {
    list-style: none;
    padding: 0.25rem 0;
  }

  .portfolio-link {
    bottom: 10px;

    .btn {
      border: none;

      &:hover {
        i {
          color: #212529 !important;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .about {
    header.masthead {
      padding-top: calc(1rem + 106px);
      padding-bottom: 1rem;
    }

    h1 {
      font-size: 4.75em;
      line-height: 4rem;
    }

    h2 {
      font-size: 1.75em;
    }
  }
}
