// Styling for the portfolio section

.portfolio {
  padding-top: 50px;
  background-color: #efefef;

  #portfolio-anchor {
    top: 20px;
    display: block;
    position: relative;
    visibility: hidden;
  }

  .portfolio-item {
    margin: 0 0 15px 0;
  }
}
